<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DST__Dükkan_Stok_Takip_.Settings.HesapAyarları" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.Settings.altbolumayarlari" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.Settings.YedeklemeAyarlari" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.Settings.MuhasebeAyarlari" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.Settings.GenelAyarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.genelAyarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.KOMUTLAR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.Komutlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DST__Dükkan_Stok_Takip_.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DST__Dükkan_Stok_Takip_.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DST__Dükkan_Stok_Takip_.Properties.Settings.DST_DataConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DST_Data.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <DST__Dükkan_Stok_Takip_.Settings.HesapAyarları>
      <setting name="HDD_NO" serializeAs="String">
        <value />
      </setting>
      <setting name="SERIAL_KEY" serializeAs="String">
        <value />
      </setting>
      <setting name="LISANS_TURU" serializeAs="String">
        <value />
      </setting>
      <setting name="SURESI" serializeAs="String">
        <value />
      </setting>
      <setting name="VERSIYON" serializeAs="String">
        <value>1.0.0.0</value>
      </setting>
      <setting name="TAM_AD" serializeAs="String">
        <value>DST Standard</value>
      </setting>
      <setting name="HESAP_ADI" serializeAs="String">
        <value />
      </setting>
      <setting name="VERİLEN_KEY" serializeAs="String">
        <value />
      </setting>
    </DST__Dükkan_Stok_Takip_.Settings.HesapAyarları>
    <DST__Dükkan_Stok_Takip_.Settings.altbolumayarlari>
      <setting name="altin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dolar" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="euro" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="haber1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="haber2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="yapımci" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="saat" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="altbolum" serializeAs="String">
        <value>1</value>
      </setting>
    </DST__Dükkan_Stok_Takip_.Settings.altbolumayarlari>
    <DST__Dükkan_Stok_Takip_.Settings.YedeklemeAyarlari>
      <setting name="Mail" serializeAs="String">
        <value />
      </setting>
      <setting name="Periyod_Turu" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Hedef_Zaman" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Durum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Durum_Zaman_Asimi" serializeAs="String">
        <value>0</value>
      </setting>
    </DST__Dükkan_Stok_Takip_.Settings.YedeklemeAyarlari>
    <DST__Dükkan_Stok_Takip_.Settings.MuhasebeAyarlari>
      <setting name="Maas_Odeme_Gunu" serializeAs="String">
        <value>0</value>
      </setting>
    </DST__Dükkan_Stok_Takip_.Settings.MuhasebeAyarlari>
    <DST__Dükkan_Stok_Takip_.Settings.GenelAyarlar>
      <setting name="Ses" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Yeni_Versiyon_Bildirim" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mod" serializeAs="String">
        <value>0</value>
      </setting>
    </DST__Dükkan_Stok_Takip_.Settings.GenelAyarlar>
    <DST__Dükkan_Stok_Takip_.genelAyarlar>
      <setting name="Ses" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Versiyon_Haber_Verici" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mod" serializeAs="String">
        <value>0</value>
      </setting>
    </DST__Dükkan_Stok_Takip_.genelAyarlar>
    <DST__Dükkan_Stok_Takip_.KOMUTLAR>
      <setting name="mevcutaygitHDDserial" serializeAs="String">
        <value />
      </setting>
      <setting name="lisanssuresi" serializeAs="String">
        <value />
      </setting>
      <setting name="key" serializeAs="String">
        <value />
      </setting>
      <setting name="anakullaniciadi" serializeAs="String">
        <value />
      </setting>
      <setting name="anakullanicisifre" serializeAs="String">
        <value />
      </setting>
      <setting name="baslangictarihi" serializeAs="String">
        <value />
      </setting>
      <setting name="komut" serializeAs="String">
        <value />
      </setting>
      <setting name="durum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="lisansturu" serializeAs="String">
        <value />
      </setting>
    </DST__Dükkan_Stok_Takip_.KOMUTLAR>
    <DST__Dükkan_Stok_Takip_.Komutlar>
      <setting name="mevcutaygitHDDserial" serializeAs="String">
        <value />
      </setting>
      <setting name="lisanssuresi" serializeAs="String">
        <value />
      </setting>
      <setting name="key" serializeAs="String">
        <value />
      </setting>
      <setting name="anakullaniciadi" serializeAs="String">
        <value />
      </setting>
      <setting name="anakullanicisifre" serializeAs="String">
        <value />
      </setting>
      <setting name="baslangictarihi" serializeAs="String">
        <value />
      </setting>
      <setting name="komut" serializeAs="String">
        <value />
      </setting>
      <setting name="durum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="lisansturu" serializeAs="String">
        <value>demo</value>
      </setting>
    </DST__Dükkan_Stok_Takip_.Komutlar>
    <DST__Dükkan_Stok_Takip_.Settings1>
      <setting name="mevcutaygitHDDserial" serializeAs="String">
        <value />
      </setting>
      <setting name="key" serializeAs="String">
        <value />
      </setting>
      <setting name="anakullaniciadi" serializeAs="String">
        <value />
      </setting>
      <setting name="anakullanicisifre" serializeAs="String">
        <value />
      </setting>
      <setting name="baslangictarihi" serializeAs="String">
        <value />
      </setting>
      <setting name="komut" serializeAs="String">
        <value />
      </setting>
      <setting name="durum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="lisansturu" serializeAs="String">
        <value>demo</value>
      </setting>
    </DST__Dükkan_Stok_Takip_.Settings1>
  </userSettings>
  <applicationSettings>
    <DST__Dükkan_Stok_Takip_.Settings1>
      <setting name="lisanssuresi" serializeAs="String">
        <value />
      </setting>
    </DST__Dükkan_Stok_Takip_.Settings1>
  </applicationSettings>
</configuration>